[package]
name = "bbscript"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "2.33.0"
byteorder = "1.3.4"
serde_json = "1.0.52"
serde = { version = "1.0.106", features = ['derive'] }
thiserror = "1.0.16"
