(
    jump_table_ids: [
        0,
        8
    ],
    literal_tag: 0,
    variable_tag: 2,
    named_variables: {},
    named_value_maps: {
        "Upon": {
            0: "IMMEDIATE",
        }
    },
    instructions: Unsized({
        0: (
            name: "beginState",
            codeBlock: Begin,
            args: [
                String32,
            ]
        ),
        1: (
            name: "endState",
            codeBlock: End,
            args: [
                
            ]
        ),
        4: (
            name: "sprite",
            codeBlock: NoBlock,
            args: [
                String32,
                Number
            ],
        ),
        8: (
            name: "beginSubroutine",
            codeBlock: Begin,
            args: [
                String32,
            ],
        ),
        9: (
            name: "endSubroutine",
            codeBlock: End,
            args: [],
        ),
        10: (
            name: "",
            codeBlock: NoBlock,
            args: [String32],
        ),
        70: (
            name: "endUpon",
            codeBlock: End,
            args: []
        ),
        72: (
            name: "upon",
            codeBlock: Begin,
            args: [
                Enum("Upon")
            ]
        ),
        877: (
            name: "",
            codeBlock: NoBlock,
            args: [
                Number,
                String32,
                String32,
            ],
        ),
        2081: (
            name: "",
            codeBlock: NoBlock,
            args: [String32]
        ),
        2533: (
            name: "",
            codeBlock: NoBlock,
            args: [
                Number,
                String32,
            ]
        ),
    }),
)