(
    functions: [
        (
            id: 2,
            size: 40,
            args: "32si",
            name: "sprite",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 5,
            size: 4,
            args: "",
            name: "endIf",
            codeBlock: End,
            namedValues: {},
        ),
        (
            id: 6,
            size: 24,
            args: "iiiii",
            name: "ifOperation",
            codeBlock: Begin,
            namedValues: {
                (0, 9)  : (0, "IS_EQUAL"),
                (0, 10) : (0, "IS_GREATER"),
                (0, 11) : (0, "IS_LESSER"),
                (0, 12) : (0, "IS_GREATER_OR_EQUAL"),
                (0, 13) : (0, "IS_LESSER_OR_EQUAL"),
                (0, 15) : (0, "IS_NOT_EQUAL"),
                (1, 2)  : (1, "NEXT_ARG_IS_VAR"),
                (3, 2)  : (3, "NEXT_ARG_IS_VAR"),
            },
        ),
        (
            id: 7,
            size: 12,
            args: "ii",
            name: "ifNot",
            codeBlock: Begin,
            namedValues: {},
        ),
        (
            id: 9,
            size: 4,
            args: "",
            name: "else",
            codeBlock: Begin,
            namedValues: {},
        ),
        (
            id: 10,
            size: 4,
            args: "",
            name: "endElse",
            codeBlock: End,
            namedValues: {},
        ),
        (
            id: 15,
            size: 36,
            args: "32s",
            name: "startSubroutine",
            codeBlock: Begin,
            namedValues: {},
        ),
        (
            id: 16,
            size: 4,
            args: "",
            name: "",
            codeBlock: End,
            namedValues: {},
        ),
        (
            id: 17,
            size: 36,
            args: "32s",
            name: "callCmnEfFunc",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 18,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 46,
            size: 20,
            args: "iiii",
            name: "storeValue",
            codeBlock: NoBlock,
            namedValues: {
                (0, 2) : (0, "NEXT_ARG_IS_VAR"),
                (2, 2) : (2, "NEXT_ARG_IS_VAR"),
            },
        ),
        (
            id: 163,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 229,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 245,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 263,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 295,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 305,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 322,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 427,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1207,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1208,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1209,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1210,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1211,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1212,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1213,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1214,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1215,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1216,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1217,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1218,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1219,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1220,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1221,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1235,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1236,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1248,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1249,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1250,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1251,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1252,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1253,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1254,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1256,
            size: 28,
            args: "iiiiii",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1257,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1258,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1259,
            size: 20,
            args: "16s",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1263,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1290,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1291,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1292,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1295,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1296,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1297,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1400,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1401,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1404,
            size: 36,
            args: "32s",
            name: "addMove",
            codeBlock: Begin,
            namedValues: {},
        ),
        (
            id: 1405,
            size: 4,
            args: "",
            name: "endMoveRegister",
            codeBlock: End,
            namedValues: {},
        ),
        (
            id: 1406,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1408,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1415,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1422,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1520,
            size: 12,
            args: "ii",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1533,
            size: 8,
            args: "i",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1553,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1554,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1556,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1558,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1561,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1563,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1566,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1568,
            size: 4,
            args: "",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 1922,
            size: 16,
            args: "iii",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
        (
            id: 2240,
            size: 72,
            args: "32s32si",
            name: "",
            codeBlock: NoBlock,
            namedValues: {},
        ),
    ]
)
